<!DOCTYPE html>
<html>
<head>
  <title>Angelia</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    Input your Twitter handle
    <%= form_for :search, url: search_path do |f| %>
      <%= f.text_field :query, placeholder: '@hunnafresh', autofocus: true %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
  <br>
  <%= yield %>

</body>
</html>
